<h2>Biotic</h2>
<form class="biotic-form">
  <div>
    <label for="fishNumber">
      Fish Number: 
    </label>
    <input id="fishNumber" [formControl]="bioticForm.fishNumber" type="number"/>
  </div>
  <div>
    <label for="fishLength">
      Fish Length: 
    </label>
    <input id="fishLength" [formControl]="bioticForm.fishLength" type="number"/>
  </div>
  <div>
    <label for="confirm">
      Confirm? 
    </label>
    <input id="confirm" [formControl]="bioticForm.confirm" type="checkbox"/>
  </div>
  <button (click)="onClickSubmit()" [disabled]="disableSubmit" id="submit">
    Submit
    <span *ngIf="showDotDotDot" id="dotdotdot">
      ......
    </span>
  </button>
  <div *ngIf="showError" id="errors">
    <p *ngFor="let err of bioticForm.error"> 
      {{ err }} 
    </p>
  </div>
  <div *ngIf="showMessage" id="postingMessage">
   {{ message }}
  </div>
</form>